*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(255, 248, 220, 0.925);
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
h2{
    background-color: rgb(7, 229, 245);
}
button{
    font-size: 20px;
    padding: 15px 30px;
        background-attachment: scroll;
    background-color: rgb(103, 252, 73);
    border-radius: 20px;
color: #ff4704;
}
button:hover{
    background-color: darkred;
    cursor: pointer;
    color: black;
}
.myc{
    color: blue;
}
.mycc{
color: #e70518;
}