*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(255, 248, 220, 0.925);
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    background-color: hwb(120 3% 4%);
}
ul li{
    background-color: aqua;
}